.subfilesForm{
  display: flex;
  justify-content: center;
}

.backHistory{
  margin-left: 20px;
  cursor: pointer;
}

.folders{
  display: flex;
  align-items: center;

  .p{
    text-decoration: none;
  }
}